#!/bin/sh

set -e

action=$1
version=$2

. /usr/share/debconf/confmodule
db_version 2.0

# Get the values from files if they exist (as the user might have modified them).
if [ -f /etc/dtc-xen/dtc-xen-firewall.sh ] ; then
	. /etc/dtc-xen/dtc-xen-firewall.sh
fi

# Set the debconf values according to what was saved in the config files
if [ ! -z "${soap_server_allowed_ip}" ] ; then
	db_set dtc-xen-firewall/conf_soap_server_allowed_ip ${soap_server_allowed_ip}
fi

db_input high dtc-xen-firewall/conf_soap_server_allowed_ip || true
db_go

#DEBHELPER#

exit 0;
