#!/usr/bin/make -f

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_link
	install -m 700 src/dtc-xen_userconsole.sh debian/tmp/bin/dtc-xen_userconsole
	install -m 700 src/dtc_create_vps.sh debian/tmp/usr/sbin/dtc_create_vps
	install -m 700 src/dtc_reinstall_os.sh debian/tmp/usr/sbin/dtc_reinstall_os
	install -m 700 src/dtc_setup_vps_disk.sh debian/tmp/usr/sbin/dtc_setup_vps_disk
	install -m 700 src/dtc_change_bsd_kernel.sh debian/tmp/usr/sbin/dtc_change_bsd_kernel

	install -m 700 src/xm_info_free_memory debian/tmp/usr/sbin/xm_info_free_memory
	install -m 700 src/vgdisplay_free_size debian/tmp/usr/sbin/vgdisplay_free_size

	install -m 700 src/dtc-soap-server.py debian/tmp/usr/sbin/dtc-soap-server
	install -m 700 src/Properties.py debian/tmp/usr/lib/dtc-xen/Properties.py
	
	install -m 740 panel/index.html debian/tmp/usr/share/dtc-xen/index.html
	install -m 740 panel/graph/xencpugraph.py debian/tmp/usr/share/dtc-xen/graph/xencpugraph.py
	install -m 740 panel/graph/xennetgraph.py debian/tmp/usr/share/dtc-xen/graph/xennetgraph.py
	install -m 740 panel/graph/xenupdate.py debian/tmp/usr/share/dtc-xen/graph/xenupdate.py

binary-indep: install
binary-arch: install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installinit -n
	dh_installcron
	dh_installdebconf
	dh_installman
	dh_installdocs
	dh_fixperms
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
