#!/usr/bin/make -f

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_link

# The soap server
	install -D -m 0700 src/dtc-soap-server.py debian/dtc-xen/usr/sbin/dtc-soap-server
	install -D -m 0700 src/Properties.py debian/dtc-xen/usr/share/dtc-xen/Properties.py

	install -D -m 0740 debian/scripts/dtc-xen_finish_install debian/dtc-xen/usr/sbin/dtc-xen_finish_install

# The utilities used by the soap server
	install -D -m 0700 src/dtc-xen_userconsole.sh debian/dtc-xen/bin/dtc-xen_userconsole
	install -D -m 0700 src/dtc_kill_vps_disk.sh debian/dtc-xen/usr/sbin/dtc_kill_vps_disk
	install -D -m 0700 src/xm_info_free_memory debian/dtc-xen/usr/sbin/xm_info_free_memory
	install -D -m 0700 src/vgdisplay_free_size debian/dtc-xen/usr/sbin/vgdisplay_free_size

# VPS setup scripts
	install -D -m 0700 src/dtc_setup_vps_disk.sh debian/dtc-xen/usr/sbin/dtc_setup_vps_disk
	install -D -m 0700 src/dtc_reinstall_os.sh debian/dtc-xen/usr/sbin/dtc_reinstall_os
	install -D -m 0700 src/dtc_change_bsd_kernel.sh debian/dtc-xen/usr/sbin/dtc_change_bsd_kernel
	install -D -m 0700 src/dtc_write_xenpv_conf.sh debian/dtc-xen/usr/sbin/dtc_write_xenpv_conf
	install -D -m 0700 src/dtc_install_centos.sh debian/dtc-xen/usr/sbin/dtc_install_centos
	install -D -m 0700 src/dtc-xen_domUconf_standard debian/dtc-xen/usr/sbin/dtc-xen_domUconf_standard
	install -D -m 0700 src/dtc-xen_domUconf_network_debian debian/dtc-xen/usr/sbin/dtc-xen_domUconf_network_debian
	install -D -m 0700 src/dtc-xen_domUconf_network_redhat debian/dtc-xen/usr/sbin/dtc-xen_domUconf_network_redhat

# DTC autodeploy script
	install -D -m 0640 src/dtc-panel_autodeploy.sh debian/dtc-xen/usr/share/dtc-xen/dtc-panel_autodeploy.sh
	install -D -m 0644 src/selection_config_file debian/dtc-xen/usr/share/dtc-xen/selection_config_file

binary-indep: install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs doc/changelog
	dh_installinit
	dh_installdebconf
	dh_installman
	dh_installdocs
	dh_installlogrotate
	dh_fixperms
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
