#!/usr/bin/make -f

build:

clean:
	dh_testdir
	dh_testroot
	dh_clean

install:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	dh_link
	install -D -m 700 src/dtc-xen_userconsole.sh debian/dtc-xen/bin/dtc-xen_userconsole
	install -D -m 700 src/dtc_reinstall_os.sh debian/dtc-xen/usr/sbin/dtc_reinstall_os
	install -D -m 700 src/dtc_setup_vps_disk.sh debian/dtc-xen/usr/sbin/dtc_setup_vps_disk
	install -D -m 700 src/dtc_kill_vps_disk.sh debian/dtc-xen/usr/sbin/dtc_kill_vps_disk
	install -D -m 700 src/dtc_change_bsd_kernel.sh debian/dtc-xen/usr/sbin/dtc_change_bsd_kernel
	install -D -m 700 src/dtc_install_centos.sh debian/dtc-xen/usr/sbin/dtc_install_centos

	install -D -m 700 src/xm_info_free_memory debian/dtc-xen/usr/sbin/xm_info_free_memory
	install -D -m 700 src/vgdisplay_free_size debian/dtc-xen/usr/sbin/vgdisplay_free_size

	install -D -m 700 src/dtc-soap-server.py debian/dtc-xen/usr/sbin/dtc-soap-server
	install -D -m 700 src/Properties.py debian/dtc-xen/usr/share/dtc-xen/Properties.py

	install -D -m 640 panel/index.html debian/dtc-xen/usr/share/dtc-xen/index.html
	install -D -m 740 panel/graph/xencpugraph.py debian/dtc-xen/usr/share/dtc-xen/graph/xencpugraph.py
	install -D -m 740 panel/graph/xennetgraph.py debian/dtc-xen/usr/share/dtc-xen/graph/xennetgraph.py
	install -D -m 740 panel/graph/xeniograph.py debian/dtc-xen/usr/share/dtc-xen/graph/xeniograph.py
	install -D -m 740 panel/graph/xenupdate.py debian/dtc-xen/usr/share/dtc-xen/graph/xenupdate.py
	install -D -m 740 debian/scripts/dtc-xen_finish_install debian/dtc-xen/usr/sbin/dtc-xen_finish_install

binary-indep: install
	dh_testdir
	dh_testroot
	dh_install
	dh_installchangelogs doc/changelog
	dh_installinit
	dh_installcron
	dh_installdebconf
	dh_installman
	dh_installdocs
	dh_installlogrotate
	dh_fixperms
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary-arch: install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
